@font-face {
  font-family: "PropCourierSans";
  src: url("../static/fonts/PropCourierSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PropCourierSans";
  src: url("../static/fonts/PropCourierSans-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Domine";
  src: url("../static/fonts/domine-e769e952cf89dbeb6717414ee53206b647a62059.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Domine";
  src: url("../static/fonts/domine-d0ba28d0dc2cba322dcb1654986b8e2e386c083b.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Quattrocento Sans";
  src: url("../static/fonts/quattrocentosans-9a8584913ee3a44dff504aa0c4dfadea2103eb8c.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Quattrocento Sans";
  src: url("../static/fonts/quattrocentosans-f7f6db51010851cd642d6f9a2a3aac24e203dbac.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Quattrocento Sans";
  src: url("../static/fonts/quattrocentosans-6bb654311884162b3bb31bf618d9cbea19cfc865.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Quattrocento Sans";
  src: url("../static/fonts/quattrocentosans-1ace26d12e9bdb4a4c938e4c299d81465bb4351e.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Young Serif";
  src: url("../static/fonts/YoungSerif-Regular.otf");
}
/* BLOCKS -------------------------------------  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga", "dlig", "clig", "kern";
  -webkit-font-feature-settings: "liga", "dlig", "clig", "kern";
  -moz-font-feature-settings: "liga", "dlig", "clig", "kern";
  -o-font-feature-settings: "liga", "dlig", "clig", "kern";
}
body {
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: black;
  font-family: Domine;
  font-size: 17px;
  line-height: 23px;
  padding: 11.5px;
}
/* Insertion du pad dans la page */
iframe {
  outline: 1px solid #333;
}
iframe#ether {
  height: 700px !important;
  max-width: 50em;
  margin: auto;
}
/* Style des niveaux de titre */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 17px;
  font-weight: bold;
  font-family: Domine;
  text-align: center;
  margin: 0;
  margin-top: 46px;
  margin-bottom: 23px;
  padding-top: 23px;
  clear: both;
}
h1 {
  font-size: 17px;
  line-height: 23px;
  margin: 23px 0;
  text-align: center;
  font-family: Young Serif;
  font-weight: normal;
}
#content h1 {
  font-size: 59.5px;
  line-height: 1em;
  margin: 5em 0;
}
h2 {
  font-size: 25.5px;
  line-height: 1.3em;
  text-transform: uppercase;
  text-align: center;
  font-family: Young Serif;
  font-weight: normal;
}
h3 {
  text-transform: uppercase;
  margin: 23px 0;
  font-family: Young Serif;
  font-weight: normal;
}
h4 {
  text-decoration: underline;
}
a {
  font-family: Quattrocento Sans;
}
a.include {
  font-family: Domine;
}
img {
  max-width: 275px;
  float: left;
  margin: 11.5px;
  padding-left: 11.5px;
  padding-right: 11.5px;
  padding-bottom: 11.5px;
  display: block;
}
img:first-child {
  padding-left: 0;
}
img:last-child {
  padding-right: 0;
}
img.inline {
  display: inline;
  vertical-align: top;
  padding: 0;
  height: 1em;
}
img.large {
  width: 100% !important;
  max-width: none !important;
  margin: auto !important;
  padding: 0 12.5%;
}
.thumbnail {
  max-width: 30%;
}
.gallery {
  max-width: none !important;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 23px;
}
.gallery img {
  width: 30%;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  max-width: none;
}
figure { text-align: center; }
figure img { margin: auto; float: none; }

.gallery figure {
  /*height: 3.35cm;*/
  margin-bottom: 46px;
  max-width: 30%;
}
.gallery figure img {
  height: 4cm !important;
  max-width: none !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  width: auto !important;
  float: none;
  margin: auto;
}
blockquote {
  font-family: Domine;
  font-size: 17px;
  margin: 23px 0;
  font-style: italic;
}
.notes > blockquote:first-child {
  margin: 0 !important;
  font-style: normal;
}
p {
  margin-bottom: 0;
  clear: both;
  text-indent: 0;
}
p + p {
  text-indent: 46px;
}
h2#summary,
h2#summary_1,
h2#summary_2,
h2#summary_3 {
  display: none;
}
.summary > p:first-of-type,
.summary_1 > p:first-of-type,
.summary_2 > p:first-of-type,
.summary_3 > p:first-of-type {
  text-indent: 16em;
  margin-top: 1em;
}
.summary > p:first-of-type:first-letter,
.summary_1 > p:first-of-type:first-letter,
.summary_2 > p:first-of-type:first-letter,
.summary_3 > p:first-of-type:first-letter {
  font-size: 42.5px;
  font-family: Young Serif;
}
.summary > p:first-of-type:first-line,
.summary_1 > p:first-of-type:first-line,
.summary_2 > p:first-of-type:first-line,
.summary_3 > p:first-of-type:first-line {
  font-variant: small-caps;
  font-family: Young Serif;
}
.summary img {
  width: 2.5cm;
}
hr {
  border: 0;
  height: 23px;
  margin: 0;
  clear: both;
}
hr + hr {
  display: block;
  border-bottom: 1px solid black;
}
code,
pre {
  font-family: PropCourierSans;
  white-space: pre-wrap;
  font-weight: bold;
}
pre {
  outline: 1px solid #b8860b;
  padding: 23px;
  width: 100%;
}
/* Style des légendes d'images */
figcaption {
  font-family: Quattrocento Sans;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 23px;
}
/* Style des frames de vidéo ou autres objets hors image */
figure iframe {
  max-width: 70%;
  margin: 23px auto;
  display: block;
}
audio,
video {
  display: block;
  clear: both;
  margin: auto;
  margin-bottom: 46px;
}
/* Style des notes de bas de pages */
.footnote {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 46px;
}
.footnote ol {
  list-style-position: outside;
  margin: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 17px;
  -moz-column-gap: 17px;
  column-gap: 17px;
}
.footnote ol li + li {
  margin-top: 17px;
}
.footnote p {
  margin-bottom: 0;
}
/* INLINES ------------------------------------- */
/* Style des liens hypertextes */
a,
a:visited {
  text-decoration: none;
  color: #b8860b;
}
/* Style du texte en roll-over sur les liens */
a:hover {
  text-decoration: none;
  color: black;
}
/* Style quand on arrive à une ancre */
.target {
  background-color: yellow;
}
/* Style de l'italique */
em {
  font-style: italic;
}
/* Style du bold */
strong {
  font-weight: bold;
}
/* Style des exposants */
sup {
  font-size: 0.65em;
  line-height: 0;
  vertical-align: 0.5em;
  text-decoration: none;
  margin-left: 1px;
  font-weight: bold;
}
sup a {
  font-family: Quattrocento Sans;
}
/* Style du texte souligné */
u {
  text-decoration: none;
  border-bottom: 2px solid yellow;
}
dl {
  margin: 11.5px 0;
}
dt {
  font-style: italic;
  font-weight: bold;
  display: inline;
  font-family: Quattrocento Sans;
  text-indent: 0;
  margin-right: 0;
}
dt strong {
  text-decoration: underline;
}
dd + dt:before,
.metadata dt:before {
  content: " ";
  display: block;
  height: 4.375px;
}
dt:after {
  content: ": ";
}
dd {
  display: inline;
  margin: 0;
  text-indent: 0;
}
dd + dd {
  padding-left: 46px;
}
dd:after {
  content: '\0A';
  white-space: pre;
}
.metadata dd:after {
  content: '';
  white-space: pre;
}
.metadata dd:before {
  content: ", ";
  margin-left: 0px;
}
.metadata dt + dd:before {
  content: "";
  margin-left: 0;
}
.metadata dd {
  padding-left: 0;
}
hr + dl {
  margin-top: -23px;
}
dl + p {
  margin-top: 23px;
}
.comment:before {
  background-color: yellow !important;
  border-radius: 1em;
  display: inline;
  height: 1em;
  margin: 0 0.5em;
  padding-left: 7px;
  padding-right: 9px;
  text-align: center;
  width: 1em;
  content: "!";
  font-family: Quattrocento Sans;
}
/* FORMS -------------------------- */
form {
  margin-bottom: none;
}
form label,
form textarea {
  font-family: inherit;
  font-size: inherit;
}
form input,
form textarea {
  background: none;
  border-style: solid;
  border-color: black;
  font-family: sans-serif;
  font-size: inherit;
}
/* Style de l'élément activé */
form input:focus,
form textarea:focus {
  background-color: white;
}
form input[type=text],
form input[type=password] {
  height: 25px;
  position: relative;
  top: -1px;
  width: 200px;
}
form input[type=submit] {
  cursor: pointer;
  padding: 0;
  height: 26px;
  border-style: none;
  border-color: none;
  text-decoration: none;
  color: #b8860b;
}
form input[type=submit]:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}
/* GENERIC CLASSES -------------------------------- */
.clearfix {
  overflow: auto;
}
/* Style des boutons */
.button {
  text-decoration: none;
  margin: 0 11.5px;
}
/* Style des boutons en roll over */
.button:hover {
  background-color: none;
  outline: none;
}
/* Classe pour transformer des éléments blocs en éléments en ligne */
.inline {
  display: inline;
}
/* PAGE STRUCTURE --------------------------------- */
/* Style des containers */
.wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}
.wrap:first-child {
  margin: 23px 0;
}
.wrap:before,
.wrap:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.wrap:after {
  clear: both;
}
/* Style des sous-parties de containers */
.left-side,
.middle,
.right-side {
  float: left;
  position: relative;
}
.left-side,
.right-side {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 46px;
}
.middle {
  width: 70%;
  max-width: 50em;
  padding: 23px 46px;
}
.write-mode .middle {
  width: 70%;
}
/* Pour les inclusions de pads dans les compilations */
#content .middle {
  width: 100%;
}
/* NAV ------------------------------------------ */
#logo {
  font-family: Young Serif;
}
/* Navigation */
nav {
  font-family: Quattrocento Sans;
  line-height: 17px;
  font-size: 13px;
  position: fixed;
  top: 0;
  /*background-color: white;*/
  padding: 5.75px;
  z-index: 1000;
}
nav#nav-left {
  left: 0;
  width: 100%;
}
nav#nav-right {
  right: 0;
  text-align: right;
}
nav div#staff-menu {
  display: inline;
  color: darkgray;
}
nav h1 {
  display: inline;
}
nav span:before {
  content: " — ";
}
nav div#sort-by {
  display: inline;
  color: darkgray;
}
/* Texte précédent/suivant */
div#previous a,
div#next a {
  position: fixed;
  top: 6.5em;
  font-family: Quattrocento Sans;
  font-size: 13px;
  line-height: 17px;
  padding: 23px;
  z-index: 6666;
}
div#previous a span,
div#next a span {
  display: none;
  background-color: white;
  padding: 1px 2px;
}
div#previous a:hover span,
div#next a:hover span {
  display: block;
  color: darkgoldenrod;
}
div#next {
  text-align: right;
  padding-right: 0;
}
div#next a {
  right: 0;
}
/* MAIN CONTENT ---------------------------------- */
header {
  margin-top: 23px;
  font-size: 42.5px;
  line-height: 1.2em;
  text-align: center;
}
header p,
header h2 {
  font-family: inherit;
  margin-bottom: 0;
  line-height: inherit;
  text-align: center;
  display: inline;
}
header h2 {
  font-size: inherit;
  font-family: Young Serif;
  text-transform: none;
  line-height: 1em;
}
header p.authors:after {
  content: ", ";
}
#content ul li:before {
  content: "– ";
  margin-left: 46px;
}
ol {
  list-style-type: decimal;
  margin-left: 46px;
}
ol li {
  text-indent: 0;
}
.footnote ol li {
  margin-bottom: 0em;
}
.note {
  margin: 23px;
  margin-left: 25%;
  text-indent: 0;
  font-family: Quattrocento Sans;
  font-size: 17px;
}
.note + p {
  text-indent: 0;
}
.noteA {
  width: 75%;
  float: right;
  margin: 23px 0;
}
.noteB {
  width: 75%;
}
dl.meta {
  font-family: Quattrocento Sans;
  color: lightgray;
  font-size: 13px;
  line-height: 17px;
}
div.metadata {
  font-family: Quattrocento Sans;
  font-size: 13px;
  line-height: 17px;
  position: absolute;
  top: 0px;
  left: -15em;
  width: 15em;
}
div#go-up {
  clear: both;
  padding-top: 46px;
}
div#go-up a {
  border-bottom: none;
}
div#go-up a:hover {
  color: #b8860b;
}
/* AUTHORSHIP ----------------------------- */
.authors {
  display: inline;
}
/* Hides Etherpad background colours */
#content span {
  background-color: inherit !important;
}
/* ------ PRINT/SCREEN ------ */
@media screen {
  .print-only {
    display: none;
  }
}
/* User Interface */
.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999999;
  background: rgba(0, 0, 0, 0.6667);
  text-align: center;
}
.popup-wrapper.hidden {
  display: none;
}
.popup-wrapper:before {
  position: relative;
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.popup {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  padding: 30px;
}
/* SPECIFIC PADS */
/* AFTER-LIFE */
.pad-summit_afterlifemd *,
.pad-mobile_expo_afterlifemd *,
.pad-documenting_afterlifemd *,
.pad-boxes-doosjes-boites_afterlifemd *,
.pad-fathers_afterlifemd * {
  font-family: Quattrocento Sans;
}
.pad-summit_afterlifemd .summary > p:first-of-type,
.pad-mobile_expo_afterlifemd .summary > p:first-of-type,
.pad-documenting_afterlifemd .summary > p:first-of-type,
.pad-boxes-doosjes-boites_afterlifemd .summary > p:first-of-type,
.pad-fathers_afterlifemd .summary > p:first-of-type,
.pad-summit_afterlifemd .summary_1 > p:first-of-type,
.pad-mobile_expo_afterlifemd .summary_1 > p:first-of-type,
.pad-documenting_afterlifemd .summary_1 > p:first-of-type,
.pad-boxes-doosjes-boites_afterlifemd .summary_1 > p:first-of-type,
.pad-fathers_afterlifemd .summary_1 > p:first-of-type {
  text-indent: 0;
  margin-top: 1em;
}
.pad-summit_afterlifemd .summary > p:first-of-type:first-letter,
.pad-mobile_expo_afterlifemd .summary > p:first-of-type:first-letter,
.pad-documenting_afterlifemd .summary > p:first-of-type:first-letter,
.pad-boxes-doosjes-boites_afterlifemd .summary > p:first-of-type:first-letter,
.pad-fathers_afterlifemd .summary > p:first-of-type:first-letter,
.pad-summit_afterlifemd .summary_1 > p:first-of-type:first-letter,
.pad-mobile_expo_afterlifemd .summary_1 > p:first-of-type:first-letter,
.pad-documenting_afterlifemd .summary_1 > p:first-of-type:first-letter,
.pad-boxes-doosjes-boites_afterlifemd .summary_1 > p:first-of-type:first-letter,
.pad-fathers_afterlifemd .summary_1 > p:first-of-type:first-letter {
  font-size: 17px;
  font-family: Quattrocento Sans;
}
.pad-summit_afterlifemd .summary > p:first-of-type:first-line,
.pad-mobile_expo_afterlifemd .summary > p:first-of-type:first-line,
.pad-documenting_afterlifemd .summary > p:first-of-type:first-line,
.pad-boxes-doosjes-boites_afterlifemd .summary > p:first-of-type:first-line,
.pad-fathers_afterlifemd .summary > p:first-of-type:first-line,
.pad-summit_afterlifemd .summary_1 > p:first-of-type:first-line,
.pad-mobile_expo_afterlifemd .summary_1 > p:first-of-type:first-line,
.pad-documenting_afterlifemd .summary_1 > p:first-of-type:first-line,
.pad-boxes-doosjes-boites_afterlifemd .summary_1 > p:first-of-type:first-line,
.pad-fathers_afterlifemd .summary_1 > p:first-of-type:first-line {
  font-variant: normal;
  font-family: Quattrocento Sans;
}
.pad-summit_afterlifemd pre,
.pad-mobile_expo_afterlifemd pre,
.pad-documenting_afterlifemd pre,
.pad-boxes-doosjes-boites_afterlifemd pre,
.pad-fathers_afterlifemd pre,
.pad-summit_afterlifemd code,
.pad-mobile_expo_afterlifemd code,
.pad-documenting_afterlifemd code,
.pad-boxes-doosjes-boites_afterlifemd code,
.pad-fathers_afterlifemd code {
  font-family: PropCourierSans;
}
/* SUMMIT */
.pad-summitmd .notes dt:after {
  content: "" !important;
}
.pad-creditsmd #content {
  text-align: center;
}
.pad-creditsmd #content .note {
  text-align: left;
}
.pad-creditsmd #content h3 {
  margin-bottom: 0;
}
/* TOC */
.pad-00md header h1 {
  font-size: 43px;
  margin-bottom: 0;
}
.pad-00md header h2 {
  font-size: 17px;
}
.pad-00md ul li {
  text-align: center;
}
.pad-00md ul li:before {
  margin-left: 0 !important;
}
.pad-00md ul li:first-child:before {
  content: "" !important;
}
/* COVER */
#plates {
  position: absolute;
  top: 123px;
  left: -31px;
}
.plate {
  position: absolute;
  top: 0mm;
  left: 0mm;
  width: 21mm;
  height: 7mm;
  font-size: 13px;
  line-height: 17px;
  -webkit-flow-from: plates;
  -adobe-flow-from: plates;
}
div#tags span {
  font-family: Quattrocento Sans;
  font-size: 13px;
  line-height: 17px;
  display: block;
  text-align: center;
  position: absolute;
  z-index: 10000;
  display: none;
}
div#tags span:nth-child(1) {
  top: 296px;
  left: 657px;
  height: 58px;
  width: 154px;
  display: block;
}
div#tags span:nth-child(2) {
  top: 141px;
  left: 307px;
  width: 81px;
  height: 72px;
  display: block;
}
div#tags span:nth-child(3) {
  top: 140px;
  left: 455px;
  width: 52px;
  height: 44px;
  display: block;
}
div#tags span:nth-child(4) {
  top: 151px;
  left: 952px;
  width: 49px;
  height: 42px;
  display: block;
}
div#tags span:nth-child(5) {
  top: 151.453125px;
  left: 828px;
  width: 46px;
  height: 38px;
  display: block;
}
div#tags span:nth-child(6) {
  top: 159.90625px;
  left: 585px;
  width: 45px;
  height: 40px;
  display: block;
}
div#tags span:nth-child(7) {
  top: 40.09333px;
  left: 504.762054px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  transform: rotate(-25deg);
  height: 42px;
  width: 124px;
  display: block;
}
div#tags span:nth-child(8) {
  top: 63.453125px;
  left: 680px;
  width: 101px;
  height: 80px;
  display: block;
}
div#tags span:nth-child(9) {
  top: 291.453125px;
  left: 495px;
  width: 58px;
  height: 123px;
  display: block;
}
div#tags span:nth-child(10) {
  top: 548.31488px;
  left: 506.72644px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  transform: rotate(20deg);
  width: 114px;
  height: 45px;
  display: block;
}
div#tags span:nth-child(11) {
  top: 299.453125px;
  left: 214px;
  width: 66px;
  height: 119px;
  display: block;
}
div#tags span:nth-child(12) {
  top: 296.359375px;
  left: 368px;
  height: 38px;
  width: 55px;
  display: block;
}
div#tags span:nth-child(13) {
  top: 294px;
  left: 912px;
  height: 127px;
  width: 60px;
  display: block;
}
div#tags span:nth-child(14) {
  top: 429px;
  left: 588px;
  width: 42px;
  height: 41px;
  display: block;
}
div#tags span:nth-child(15) {
  top: 438px;
  left: 461px;
  width: 46px;
  height: 40px;
  display: block;
}
div#tags span:nth-child(16) {
  top: 457px;
  left: 317px;
  width: 70px;
  height: 61px;
  display: block;
}
div#tags span:nth-child(17) {
  top: 431.359375px;
  left: 833px;
  width: 45px;
  height: 38px;
  display: block;
}
div#tags span:nth-child(18) {
  top: 293.8125px;
  left: 1045px;
  width: 52px;
  height: 43px;
  display: block;
}
div#tags span:nth-child(19) {
  top: 435.8125px;
  left: 953px;
  width: 51px;
  height: 43px;
  display: block;
}
div#tags span:nth-child(20) {
  top: 523px;
  left: 690px;
  width: 86px;
  height: 77px;
  display: block;
}
div#tags span:nth-child(21) {
  top: 135px;
  left: 1075px;
  width: 74px;
  height: 68px;
  display: block;
}
div#tags span:nth-child(22) {
  top: 290.265625px;
  left: 1140.546875px;
  width: 156px;
  height: 41px;
  display: block;
}
div#tags span:nth-child(23) {
  top: 448.71875px;
  left: 1078px;
  width: 73px;
  height: 64px;
  display: block;
}
div#tags span:nth-child(24) {
  top: 547.769653px;
  left: 851.692444px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  transform: rotate(-25deg);
  width: 112px;
  height: 41px;
  display: block;
}
div#tags span:nth-child(25) {
  top: 28.094475px;
  left: 838.015503px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  transform: rotate(20deg);
  width: 123px;
  height: 35px;
  display: block;
}
.logged-out #nav-right,
.comment {
  display: none;
}


@media print {
    .screen-only {
        display: none !important;
    }
    #nav-left { position: absolute;  }
    
    div.metadata { position: static; width: auto;}
}

@page {
    margin: 1cm;
}



